<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <!-- Materialize CSS CDN -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/materialize.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{{ url_for('static', filename='css/style.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
    <nav>
        <div class="nav-wrapper">
          <a href="/" class="brand-logo"><img src="{{ url_for('static', filename='img/utm.png') }}" id="logokecil" alt="Logo"></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="folder">Semua Data</a></li>
            <li><a href="cari">Pencarian</a></li>
            <li><a href="logout">Logout</a></li>
          </ul>
        </div>
      </nav>
    <div id="maincontent">
        <div class="container">
            <h1 class="center-align">Selamat Datang!</h1>
            <p class="center-align flow-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, unde amet. Iure ab error recusandae vel repellat minima at corrupti, alias explicabo. Non autem necessitatibus iure enim fugiat animi id..</p>
        </div>
    </div>
    <footer class="page-footer">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Tentang Kami</h5>
              <p class="grey-text text-lighten-4">
                Ini adalah contoh footer minimalis dengan MaterializeCSS.
              </p>
            </div>
            <div class="col l4 offset-l2 s12">
              <h5 class="white-text">Kontak</h5>
              <ul>
                <li>
                  <a class="grey-text text-lighten-3" href="#!">Email</a>
                </li>
                <li>
                  <a class="grey-text text-lighten-3" href="#!">Telepon</a>
                </li>
                <li>
                  <a class="grey-text text-lighten-3" href="#!">Alamat</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
            © 2023 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
          </div>
        </div>
      </footer>
  
    <!-- Materialize JavaScript CDN -->

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

  <script src="{{ url_for('static', filename='js/materialize.js') }}"></script>
  <script src="{{ url_for('static', filename='js/init.js') }}"></script>

</body>
</html>
